<!--The content below is only a placeholder and can be replaced.-->

<md-toolbar id="navBar">
  Fernando Flores Hernandez
  <a md-button href="https://www.linkedin.com/in/fernandohernandez1/">LinkedIn</a>
  <a md-button href="https://www.google.com">Resume</a>
  <a md-button href="https://www.google.com">Link</a>
</md-toolbar>

<md-card id="primary">
  <md-card-title>Fernando Flores Hernandez</md-card-title>
  <md-card-content>
    An Aspiring Software Engineer at the Rochester Institute of Technology
  </md-card-content>
</md-card>

<div class="divider"></div>

<!--ABOUT ME SECTION -->
<md-card class="stuff">
  <md-card-title style="text-align: center">About Me</md-card-title>
  <md-card-content>
    Hey! I'm Fernando and I am a student at Rochester Institute of Technology (RIT).

    I am majoring in Computer Science and will pursue a minor in Computing Security.

    When i was in high school I attended a entrepreneurship program named NYC Generation

    Tech whihc first exposed me to the tech sector.


  </md-card-content>
</md-card>

<div class="divider"></div>

<md-card class="stuff">
  <md-card-title>My Calendar</md-card-title>
  <md-card-content>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fernflores20%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="900" height="600" frameborder="0" scrolling="no"></iframe>
  </md-card-content>
</md-card>

<img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

<h2>Here are some links to help you start: </h2>
<ul>
  <li>

    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

