<!--The content below is only a placeholder and can be replaced.-->

<md-toolbar id="navBar">
  Fernando Flores Hernandez
  <a md-button href="https://www.linkedin.com/in/fernandohernandez1/">LinkedIn</a>
  <a md-button href="assets/FernandoFlores.pdf">Resume</a>
  <a md-button href="https://www.google.com">Link</a>
</md-toolbar>

<md-card id="primary">
  <md-card-title>Fernando</md-card-title>
  <md-card-content>
    An Aspiring Software Engineer at the Rochester Institute of Technology
  </md-card-content>
</md-card>

<div class="divider"></div>

<!--ABOUT ME SECTION -->
<md-card class="stuff">
  <md-card-title style="text-align: center">About Me</md-card-title>
  <md-card-content class="text">
    <p>
    Hey! I'm Fernando and I am a student at Rochester Institute of Technology (RIT).

    I am majoring in Computer Science and will pursue a minor in Computing Security.

    I am currently a Web Developer at an organization at RIT's Information Technology Services

    where I develop and maintain web apps.
    </p>

    <p>
    As a Computer Science student I look around and see that everything in our modern world is driven

    by technology and think of how we can make it better. I am primarily interested in the application

    of Artificial Intelligence in Security Systems. The automation of Security Systems has advanced tremendously

    in the last couple of years and I hope to learn more.
    </p>
  </md-card-content>
</md-card>

<div class="divider"></div>

<md-card class="stuff">
  <md-card-title>My Calendar</md-card-title>
  <md-card-content>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fernflores20%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="900" height="600" frameborder="0" scrolling="no"></iframe>
  </md-card-content>
</md-card>

<md-card>
  <md-card-footer>Insert footer material in here</md-card-footer>
</md-card>

