<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar id="navBar">
  Fernando Flores Hernandez
  <a mat-button href="https://www.linkedin.com/in/fernandohernandez1/">LinkedIn</a>
  <a mat-button href="assets/FernandoFlores.pdf">Resume</a>
  <a mat-button href="https://www.google.com">Link</a>
</mat-toolbar>

<mat-card id="primary">
  <h1>Fernando Flores Hernandez</h1>
  <h3>
    An Aspiring Software Engineer at the Rochester Institute of Technology
  </h3>
  <a mat-button href="assets/FernandoFlores.pdf" style="align-content: center">My Resume</a>
</mat-card>

<div class="divider"></div>

<!--ABOUT ME SECTION -->
<mat-card style="color: #64BBFF;background-color: #162938; padding-top: 50px; padding-bottom: 50px;">
  <mat-card-title style="text-align: center">About Me</mat-card-title>
  <mat-card-content class="text">

        <img src="assets/fernando.jpg" style="padding-left: 20px; float: right">

        <p>
          Hey! I'm Fernando and I am a student at Rochester Institute of Technology (RIT).

          I am majoring in Computer Science and will pursue a minor in Computing Security.

          I am currently a Web Developer at an organization at RIT's Information Technology Services

          where I develop and maintain web apps.
        </p>

        <p>
          As a Computer Science student I look around and see that everything in our modern world is driven

          by technology and think of how we can make it better. I am primarily interested in the application

          of Artificial Intelligence in Security Systems. The automation of Security Systems has advanced tremendously

          in the last couple of years and I hope to learn more.
        </p>

  </mat-card-content>
</mat-card>

<div class="divider"></div>

<mat-card style="color: #64BBFF;background-color: #162938; padding-top: 50px; padding-bottom: 50px;">
  <mat-card-title style="text-align: center">What I'm Doing Now</mat-card-title>
  <mat-card-content class="text">

    <p>
      I am currently a web developer at RIT's Information & Technology Services and my job there

      is to rewrite legacy software written in AngularJS in Angular2+. The project I am currently

      working on is called TigerCenter, a student portal that is used by over 15,000 members of the

      RIT community you can check out the current PROD version <a _ngcontent-c0="" href="https://tigercenter.rit.edu">here</a>
    </p>

    <p>

      This is one of the largest projects I have ever undertaken, and so far I have welcomed this challenge

      since I know I will learn a lot from rewriting this webapp that is used by so many people. If you would like

      to know more about my work don't hesitate to <a _ngcontent-c0="" href="mailto:fernfloreshernandez@gmail.com">email me</a>
    </p>

  </mat-card-content>
</mat-card>

<div class="divider"></div>

<mat-card class="stuff">
  <mat-card-title>My Calendar</mat-card-title>
  <mat-card-content>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fernflores20%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="900" height="600" frameborder="0" scrolling="no"></iframe>
  </mat-card-content>
</mat-card>

<mat-card-footer style="text-align: center; background-color: gray">Fernando Flores&copy;</mat-card-footer>

